{% if retry %}The password you provided didn't unlock the attachment.{% else %}One of your incoming emails has a password-protected attachment that our security system could not open.{% endif %}

To release it, please enter the attachment password using the secure link below:

{{ link }}

{% if case.subject %}Email subject: {{ case.subject }}{% endif %}

This link is single-use and will expire. If you didn't expect this email, you can ignore it.
